<%= form_for client do |f| %>
  <% if client.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= t('form.error_messages') %>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div><!-- .alert alert-danger -->
  <% end %>

  <div class="field">
    <%= f.label :name %> <br>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :phone_number %> <br>
    <%= f.text_field :phone_number, class:'form-control' %>
  </div>
  <br>
  <br>
  <%= f.submit t('helpers.submit.client'), class: 'btn btn-primary pull-right' %>
<% end %>
