<!DOCTYPE html>
<html>
  <head>
    <title><%= t('labels.project.name') %></title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/shared/main_menu' %>
    <div class="container">
      <%= yield %>
    </div><!-- .container -->
  </body>
</html>
